<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="top.laotun.service"/>

    <bean id="BlogContentServiceImpl" class="top.laotun.service.BlogContentServiceImpl">
        <property name="blogContentMapper" ref="blogContentMapper"/>
    </bean>

    <bean id="BlogUserServiceImpl" class="top.laotun.service.BlogUserServiceImpl">
        <property name="blogUserMapper" ref="blogUserMapper"/>
    </bean>

    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

</beans>