<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.laotun.mapper.BlogContentMapper">

    <!--用户信息-->
    <resultMap id="BlogContentResult" type="BlogContent">
        <result column="post_date" property="postDate"/>
        <result column="post_author" property="postAuthor"/>
        <result column="post_modified" property="postModified"/>
        <result column="post_content" property="postContent"/>
        <result column="post_content_filtered" property="postContentFiltered"/>
        <result column="post_title" property="postTitle"/>
        <result column="post_name" property="postName"/>
        <result column="post_classify" property="postClassify"/>
        <result column="post_click" property="postClick"/>
    </resultMap>
    <insert id="saveContent" parameterType="map" useGeneratedKeys="true" keyProperty="id">
        insert into blog_content(post_author, post_date, post_modified, post_content, post_content_filtered, post_title, post_name, guid,post_classify)
        values(#{postAuthor}, now(), now(), #{postContent}, #{postContentFiltered}, #{postTitle}, #{postName}, #{guid}, #{postClassify})
    </insert>
    <update id="updateContent">
        update blog_content
        <set>
            <if test="postContent != null">post_content=#{postContent},</if>
            <if test="postContentFiltered != null">post_content_filtered=#{postContentFiltered},</if>
            <if test="postTitle != null">post_title=#{postTitle},</if>
            <if test="postName != null">post_name=#{postName},</if>
            <if test="guid != null">guid=#{guid},</if>
            <if test="postClassify != null">post_classify=#{postClassify},</if>
            <if test="click != null">post_click=#{click}</if>
            <if test="click == null">post_modified=now()</if>

        </set>
        where id=#{id}
    </update>
    <delete id="deleteContent">
        delete from blog_content where id = #{id}
    </delete>

    <select id="showContent" parameterType="map" resultMap="BlogContentResult">
        select a.id, b.user_name postAuthor, a.post_classify, a.post_content, a.post_content_filtered, a.post_date, a.post_modified, a.post_name, a.post_title, a.guid, a.post_click
        from blog_content as a left join blog_user as b
        on a.post_author = b.user_id
        <where>
            <if test="id != null">a.id=#{id}</if>
            <if test="page != null">a.post_classify=#{page}</if>
        </where>

    </select>

</mapper>