.edit-content {
    display: block;
    padding-top: 50px;
}

.post-content {
    width: 65%;
    min-width: 763px;
    margin-left: 130px;
    float: left;
}

.postbox-container {
    display: block;
    float: left;
    margin-top: 40px;
    margin-left: 20px;
}

.panel-body {
    display: block;
    margin-top: 30px;
    height: 550px;
}

.message {
    height: 200px;
    clear: both;
}

.layui-form {
    height: 200px;
    width: 150px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: rgba(255,255,255,0);
    box-shadow: 0 1px 10px -8px;
}

.layui-form > div {
    display: block;
    height: 40px;
}